<br>
<a href='<%= new_photo_path %>' id='add_photo'>Add photo</a>
<section class="photos">
	<% if @photos.any? %>
		<% @photos.each do |photo| %>
			<%= link_to(image_tag(photo.picture.url(:thumb)), photo_path(photo)) %>
			<%= link_to "Delete photo", photo_path(photo), method: :delete %>
		<% end %>
	<% else %>
		<h1>No photos</h1>
	<% end %>
</section>